# Ignore everything
*

# Exceptions
!.gitignore
!.config/
!.config/nvim/
!.config/nvim/**
!.config/ghostty/
!.config/ghostty/**

# Re-ignore macOS system files (after re-including folders)
.config/**/*.DS_Store
